body{
    padding: 0px;
    margin: 0px;
    font-family: Helvetica;
}
.header {
    display: flex;
}
.wrapper {
    width: 1400px;
    margin: 0 auto;
}
.top {
    width: 300px;
    height: 60px;
    font-size: 40px;
    color: black;
    padding: 10px 0 10px 550px;
}
.rules-title {
    width: 200px;
    height: 60px;
    font-size: 25px;
    color: black;
    padding: 0 0 10px 600px;

}
.rules {
    width: 400px;
    height: 60px;
    font-size: 20px;
    color: black;
    opacity: 0.5;
    padding: 0 0 10px 500px;
}
.example-title {
    width: 200px;
    height: 60px;
    font-size: 25px;
    color: black;
    padding: 200px 0 0 600px;
}
.example {
    width: 400px;
    height: 60px;
    font-size: 20px;
    color: black;
    opacity: 0.5;
    padding: 0 0 10px 500px;
}
.play {
    width: 400px;
    height: 60px;
    font-size: 20px;
    color: black;
    padding: 20px 0 10px 500px;
}
.img {
    padding: 5px 0 10px 150px;
}
.cow {
    width: 300px;
    height: 300px;
}
.bull {
    width: 300px;
    height: 300px;
}
.guess {
    width: 200px;
    height: 50px;
    margin: 0 0 10px 500px;
}
.result {
    margin: 0 0 10px 500px;
}
